@import url('./../styles/normalize.css');
@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro|Open+Sans');

body {
  background: black;
  color: white;
  font-family: 'Anonymous Pro', monospace;
}

h1 {
  font-family: 'Anonymous Pro', monospace;
}

p {
  font-size: 18px;
}

a {
  color: white;
}
